
.navbar{
 display: flex;
 align-items: center;
 justify-content: center;   
 background-color: rgb(0, 0, 0);
 color:rgb(138, 138, 139);
 height: 60px;
 font-size: 11px;
 font-weight: 400;
 letter-spacing: -.01em;
 font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.navbar_inner{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 40px;
}
.navitem {
  letter-spacing: 0.09em;
  text-decoration: none;
  color: rgb(188, 188, 189);
  transition: text-shadow 0.3s ease-in;
}

.navitem:hover {
  color: #01f0fc;
  font-style: oblique;
  text-shadow: 0 0 15px #01f0fc; /* Glowing effect */
}

.nav-logo{
 height: 30px;
 width: 35px;
}
.nav-logo-2{
    height: 28px;
    width: 28px;
   }
.nav-logo-3{
    height: 30px;
    width: 30px;
    margin-bottom: 1px;
}   

   .navbar-button{
    border: none;
    background: none;
    color: rgb(188, 188, 189);
   }



   /* .nav-button{
    display: none;
  } */
  
  .home-slogan1{
    display: none;
  }

  .nav-img{
   height: 25px;
   width: 25px;
  }
  .nav-img-1{
    border: none;
  }
  /* .nav-img-1:focus {
    outline: none;
    border: none;
  } */


   @media screen and (max-width : 900px) 
{

  .navbar-1{
    display: flex;
    background-color: black;
    z-index: 2;
    padding-bottom: 10px;
    margin-top: 20px;
  }

    .navbar-2{
      display: flex;
      text-align: right;
      gap: 10px;
    }
    .nav-button{
    
      position: absolute;
      right: 0;
      margin-right: 5px;
      display: block;
      
      
    }
    /* @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"); */
    
    .home-slogan1{
      display: block;
      font-size: 14px;
      font-weight: 400;
      font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
      letter-spacing: 0.16em;
      color: white;
    }
}


.navbar-1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}


.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}


.bg-black {
  background-color: black !important;
}


.navbar-toggler-icon {
  background-color: white !important;
}