@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.home-slogan{
    background-color: rgb(29, 29, 31);
    height: 70px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 0.16em;
}
.home-slogan-text{
  letter-spacing: 5px;
}
/* --------------------------------------------panel 1------------------------------------------------------------- */

  .panel1{
    display:flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
  }
  .logo-div{
    text-align: center;
  }
  .logo1{
    margin-top: 20px;
    margin-right: 20px;
    height: 75px;
    width: 90px;
  }

  /* fuzze text animation */
  .home_title {
    padding: 30px;
    font-family: monospace;
    color: #fff;
    text-transform: uppercase;
  }
  .h1 {
    font-size: 190px;
    @media (max-width: 600px) {
      font-size: 70px;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  .text-shadow {
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 10px green;
    transition: all 0.5s ease-in-out;
    text-align: center;
    letter-spacing: 0.1em;
    animation: flicker 0.5s ease-in-out infinite alternate;
    &:hover {
      color:green;
    }
  }
  @keyframes flicker {
    0% {
      opacity: 0.5;
      text-shadow: 2px 2px 10px greeen;
    }
    100% {
      opacity: 1;
      text-shadow: 2px 2px 20px green;
    }
  }
  


  /* scroll animation */
  .scroll-container {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 100%;
    overflow: hidden;
    /* background-color: #04682d; */
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .scroll-content {
    display: flex;
    animation: scrollAnimation 10s linear infinite;
  }
  .scroll-content a {
    flex: 0 0 auto;
    margin-right: 80px;
  }
  .slider {
    background-color: #48abe0;
    height: 240px;
    width: 220px;
    border-radius: 10px;
    animation: glowslider 1.3s infinite alternate; 
    box-shadow: 0 0 3px 3px #48abe0;
}

@keyframes glowslider {
    0% {
        box-shadow: 0 0 3px 0px rgba(1, 240, 252, 0.5); /* Initial glow */
    }
    100% {
        box-shadow: 0 0 3px 5px rgba(1, 240, 252, 0.7); /* Final glow */
    }
}

  @keyframes scrollAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .explore-div{
    text-align: center;
    margin-bottom: 50px;
  }
  .explore {
    text-decoration: none;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: #01f0fc;
    letter-spacing: 0.3em;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    border-color: #01f0fc;
    border: solid 2px;
    background-color: black;
    transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;
    position: relative; /* Needed for glowing effect */
}

.explore:hover {
    background-color: #01f0fc;
    border-color: #01f0fc;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px #01f0fc; /* Glowing effect */
}


  

 /* ------------------------------------------------------ panel 2 -------------------------------------------------------- */
  .panel2{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
  }
  .p2-title{
    padding-top: 50px;
    color: #01f0fc;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-size: 48px;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-transform: uppercase;
  }
  .p2-content{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: oblique;
    margin-left: 240px;
    margin-top: -30px;
  }
  .card-outer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-bottom: 100px;
    gap: 50px;
    
  }

  .card {
    
    width: 300px;
    height: 300px;
    background-image: linear-gradient(163deg, #244533 0%, #02342f 100%);
    border-radius: 10px;
    transition: all .3s;
   }
   
   .card2a {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-image: url(images/gif1.gif);
    background-position: center;
    background-size: cover;
    background-color: #1a1a1a;
    transition: all .2s;
    box-shadow: 0 0 10px #ffffff;
    animation: glow1 1s infinite alternate;
    position: absolute;
   }
   

   .card2b {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-image: url(images/gif2.gif);
    background-position: center;
    background-size: cover;
    background-color: #1a1a1a;
    transition: all .2s;
    box-shadow: 0 0 10px #ffffff;
    animation: glow1 1s infinite alternate;
    position: absolute;
   }
   

   .card2c {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-image: url(images/gif3.gif);
    background-position: center;
    background-size: cover;
    background-color: #1a1a1a;
    transition: all .2s;
    box-shadow: 0 0 10px #ffffff;
    animation: glow1 1s infinite alternate;
    position: absolute;
   }

   .card-title{
    position: relative;
    font-size: 50px;
    font-weight: 600;
    font-family: monospace;
    margin-left: 60px;
    color: #000000;
    margin-top: 350px;

   }
   
   .card:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
   }





/* -------------------------------------------------------------------------- panel 3 --------------------------------------------------------------------- */


.panel3{
  background-color: black;
  display: flex;
  flex-direction: column;
}

.p3-title{
  color: #ffffff;
  font-family: 'Poiret One', cursive;
  /* font-family: "Josefin Sans", sans-serif; */
  /* font-family: "Anton", sans-serif; */
  font-weight: 400;
  font-size: 58px;
  /* font-weight: 300; */
   font-style: normal;
  /* font-style: oblique; */
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  letter-spacing: 7px;
}

.modals{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 100px;
}
.mod1{
  position: relative;
  height: 250px;
  width: 250px;
  background-image: url(images/Necklace_2.jpg);
  background-size: cover;
  background-color: rgb(29, 29, 31);
  border-radius: 10px;
  background-position:center;
  box-shadow: 0 0 10px #474747;
  animation: glow 1s infinite alternate;
}
.mod2{
  position: relative;
  height: 250px;
  width: 250px;
  background-image: url(images/Ring_1.jpg);
  background-position:center;
  background-size: cover;
  background-color: rgb(29, 29, 31);
  border-radius: 10px;
  box-shadow: 0 0 10px #474747;
  animation: glow 1s infinite alternate;
}
.mod3{
  position: relative;
  height: 250px;
  width: 250px;
  background-image: url(images/Bracelet_1.jpg);
  background-size: cover;
  background-position:center;
  background-clip: padding-box;
  background-color: rgb(29, 29, 31);
  border-radius: 10px;
  box-shadow: 0 0 10px #474747;
  animation: glow 1s infinite alternate;
}
.mod4{
  position: relative;
  height: 250px;
  width: 250px;
  background-image: url(images/case2.jpeg);
  background-size: cover;
  background-position:center;
  background-clip: padding-box;
  background-color: rgb(29, 29, 31);
  border-radius: 10px;
  box-shadow: 0 0 10px #474747;
  animation: glow 1s infinite alternate;
}

.mod5{
  position: relative;
  height: 250px;
  width: 250px;
  background-image: url(images/t_shirt_1.jpg);
  background-size: cover;
  background-position:center;
  background-clip: padding-box;
  background-color: rgb(29, 29, 31);
  border-radius: 10px;
  box-shadow: 0 0 10px #474747;
  animation: glow 1s infinite alternate;
}
.modal-btn{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 150px;
  height: 50px;
  border: solid black 3px;
  border-color: rgb(0, 0, 0);
  font-family: monospace;
  
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  
  cursor: pointer;
  float:right;
  background-color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.1em;
  border-radius: 10px;



  /* font-family: "Teko", sans-serif;
  font-weight: 200;
  font-size: 30px; 
  text-transform: uppercase;
  */


}
.modal-btn:hover{
  background: none;
  color: rgb(0, 0, 0);
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px #48abe0;
  }
  100% {
    box-shadow: 0 0 20px #48abe0;
  }
}





/* ------------------------------------------------------------------- Style the modal --------------------------------------------------------------------------------*/
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.10s, visibility 0.33s;
}


/* Style the modal content */
.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  
  margin: 100px;
  border-radius: 20px;
  border: solid #48abe0 2px;
  opacity: 0.5;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
  padding-bottom: 50px;
}

/* Style the close button */
.close {
  color: #48abe0;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

/* Show the modal when it's open */
.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal.active .modal-content {
  opacity: 1;
  transform: translateY(0);
}



.modal-1{
  display: flex;
  
}
.mod-1-left, .mod-1-right{
  flex: 1;
}
.mod-1-right{
  text-align: center;
}
.mod-1-left{
 display: flex;
 align-items: center;
 justify-content: center;
}
.mod-1-title{
  text-align: center;
  font-family: monospace;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: white;
}

.mod-1-content{
  padding-left: 50px;
  padding-right: 50px;
  /* font-family: monospace; */
  font-family: 'Roboto', sans-serif;
  /* font-size: 18px; */
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 0.02em;
  color: white;
  text-align: justify;
}

.mod-1-left-item{
  height: 380px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 0 10px #474747;
  
}


.visit{
 
  height: 60px;
  width: 150px;
  background-color: #1d1c1c;
  border-color: #48abe0;
  color: #48abe0;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  font-style: oblique;
  letter-spacing: 0.2em;
  border-radius: 30px;
  border: solid 2px;
  transition: background-color 0.3s ease-in;
}
.visit:hover{
  background-color: #48abe0;
  color: #1d1c1c;
  border-color: #48abe0;
}





/* ------------------------------------------------------------------------ panel 4 ------------------------------------------------------------ */



.panel4{
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;

}
.types{
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-bottom: 100px;
}
.type1{
  position: relative;
  height: 600px;
  width: 700px;
  border-radius: 10px;
  background-image: url(images/t_shirt_1.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px #ffffff;
  animation: glow1 1s infinite alternate;
}
.type2{
  position: relative;
  height: 600px;
  width: 700px;
  border-radius: 10px;
  background-image: url(images/Necklace_6.jpg);
  box-shadow: 0 0 10px #ffffff;
  animation: glow1 1s infinite alternate;
  background-position: center;
  background-size: cover;
}
@keyframes glow1 {
  0% {
    box-shadow: 0 0 10px #48abe0;
  }
  100% {
    box-shadow: 0 0 20px #48abe0;
  }
}
.p4-text{
  background-color: rgba(255, 255, 255,0.1);
  border-radius: 10px 10px 5px 5px;
  font-family: "Teko", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
}
.buynow{
  right: 0;
  bottom: 0;
  position: absolute;
  height: 55px;
  width: 160px;
  background-color: rgba(255, 255, 255,0.1);
  color: #48abe0;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-family: monospace;
  border-color: #48abe0 !important;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buynow:hover{
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255) ;
}



/* ------------------------------------------------------------------------------panel 5 -------------------------------------------------------------------------- */

.p3-title-2{
  background-color: #000;
}
.panel5{

  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}
.p5-text{
  color: rgb(6, 92, 49);
  font-family: sans-serif;
  font-size: 48px;
  font-weight: 600;
  font-style: oblique;
  padding-left: 40px;
}
.p5-img{
  width: 100%;
}


/* ------------------------------------------------------- panel 6 -------------------------------------------------------------------------------------- */

/* .panel6a{
  background-color: #000;
} */
.random{
  display: flex;
  flex-direction: column;
  height: 700px;
  background-image: url(images/Bracelet_1.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-weight: 600;
  color:  black;
  font-size: 72px;
  padding-left: 30px;
  padding-top: 30px;
  letter-spacing: 2px;
}
.random-btn{
  
  font-size: 16px;
  height: 55px;
  width: 160px;
  color:white;
  background-color: black;
  font-family: monospace;
  letter-spacing: 0.1em;
  font-weight: 400;
  border-radius: 10px;
  border-color:#01f0fc;
  cursor: pointer;
}
.anime{
  display: flex;
  flex-direction: column;
  height: 700px;
  background-image: url(images/t_shirt_1.jpg);
  background-size: cover;
  background-position: center;
  background-size: cover;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  color:  black;
  font-size: 72px;
  padding-left: 30px;
  padding-top: 30px;
  letter-spacing: 3px;
}
.anime-cover{
  height: 500px;
  width: 450px;
  margin-left: 400px;
  margin-top: -150px;
  transform: rotate(15deg);
}
.anime-btn{
  font-size: 16px;
  height: 55px;
  width: 160px;
  color:white;
  background-color: black;
  font-family: monospace;
  letter-spacing: 0.1em;
  font-weight: 400;
  border-radius: 10px;
  border-color:#01f0fc;
  cursor: pointer;
}

.marvel{
  display: flex;
  flex-direction: column;
  height: 700px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(images/glass-case.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  color:  rgb(255, 255, 255);
  font-size: 72px;
  padding-left: 30px;
  padding-top: 30px;
  letter-spacing: 2px;
}
.marvel-btn{
  height: 55px;
  width: 160px;
  color:white;
  background-color: black;
  font-family: monospace;
  letter-spacing: 0.1em;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  border-color:#01f0fc;
  cursor: pointer;
}
.car{
  display: flex;
  flex-direction: column;
  height: 700px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(images/Ring_2.jpg);
  background-size: cover;
  background-position: center;
  /* font-family: "Madimi One", sans-serif;
  font-weight: 600; */
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color:  rgb(255, 255, 255);
  font-size: 92px;
  padding-left: 30px;
  padding-top: 30px;
  letter-spacing: 2px;
}
.car-btn{
  height: 55px;
  width: 160px;
  color:white;
  background-color: black;
  font-family: monospace;
  letter-spacing: 0.1em;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  border-color:#01f0fc;
  cursor: pointer;
}

.panel9 {
  padding: 50px;
  display: flex;
  gap: 50px;
  background-color: rgb(29, 29, 31);
  flex-direction: row;
}

.p9-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p9-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p9-text {
  font-family: "Teko", sans-serif;
  letter-spacing: 0.05em;
  font-size: 52px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.p9-content {
  font-family: 'Poiret One', cursive;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: justify;
}

.read-more {
  height: 55px;
  width: 150px;
  background:none;
  color:white;
  border-radius: 200px;
  font-family: monospace;
  font-size: 16px;
  letter-spacing: 0.1em;
  border-color:  white;
  text-align: center;
  cursor: pointer;
}
.read-more:hover{
  background-color: white;
  color: #000;
}

.made-in-india{
  height: 500px;
  width: 700px;
  border-radius: 20px;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}











/* -------------------------------------------------------------------------------------responsive---------------------------------------------------------------------------------- */
@media screen and (max-width : 600px) 
{
  .home-slogan{
    display: none;
  }
  .home-slogan-text{
    display: none;
  }
  .p3-title{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .modals{
    flex-direction: column;
  }



  .types{
    flex-direction: column;
  }

  .type1{
    height: 250px;
    width: 250px;
  }
  .type2{
    height: 250px;
    width: 250px;
  }

  .p4-text{
    font-size: 20px;
  }

  .random{
    font-size: 20px;
    padding-top: 10px;
    width: 100%;
    height: 200px;
  }
  .random-btn{
    font-size: 9px;
    height: 35px;
    width: 90px;
  }

  .anime{
    font-size: 20px;
    padding-top: 10px;
    width: 100%;
    height: 200px;
  }
  .anime-btn{
    font-size: 9px;
    height: 35px;
    width: 90px;
  }

  .marvel{
    font-size: 20px;
    padding-top: 10px;
    width: 100%;
    height: 200px;
  }
  .marvel-btn{
    font-size: 9px;
    height: 35px;
    width: 90px;
  }

  .car{
    font-size: 20px;
    padding-top: 10px;
    width: 100%;
    height: 200px;
  }
  .car-btn{
    font-size: 9px;
    height: 35px;
    width: 90px;
  }

  .panel9{
    flex-direction: column;
    gap: 10px;
  }

  .p9-text{
    font-size: 18px;
    text-align: center;
  }
  .p9-content{
    font-size: 10px;
    
  }

  .made-in-india{
    height: 200px;
    width: 250px;
  }


  .card-outer{
 
    flex-direction: column;
    
  }

  .card {
    
    width: 200px;
    height: 200px;
    
   }
   
   .card2a {
    width: 200px;
    height: 200px;
   
   }
   

   .card2b {
    width: 200px;
    height: 200px;
    
   }
   

   .card2c {
    width: 200px;
    height: 200px;
    
   }
   
   .p2-title{
    font-size: 35px;
   }

   .modal-content{
    margin: 10px;
    padding: 5px;
   }

   .modal-1{
    flex-direction: column;
    gap: 50px;
   }

   .mod-1-left-item{
    height: 180px;
    width: 150px;
   }
   .mod-1-title{
    font-size: 17px;
  }
  .mod-1-content{
    font-size: 9px;
  }
  .mod-1-right{
    padding-bottom: 30px;
  }
  .logo1{
    margin-right: auto;
  }
}








.specialproducts_panel{
  background-color: rgb(40, 39, 39);
  /* margin: 7px; */
  display: flex;
  flex-wrap: wrap;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  padding: 50px;
  gap: 50px;
  align-items: center;
  justify-content: space-around;
}
.special-product-heading{
  color: rgb(113, 111, 111);
  background-color: rgb(40, 39, 39);
  padding-bottom: 1px;
}
.special_product_indivual{
  box-shadow: 0 0 10px #ffffff;
  animation: glow1 1s infinite alternate;
  padding: 5px;
}
.special_product_indivual_image{
  height: 370px;
  width: 270px;
}

@media screen and (max-width : 600px) 
{
  .special_product_indivual_image{
    height: 270px;
width: 180px;
}
}
